.header {
	height: 120px;
	width: 100%;
	background-image: linear-gradient(0, rgb(0, 239, 251), #4cabf9);
	position: relative;
	display: flex;
	flex-direction: column;
	
}

.header__navbar {
	display: flex;
	justify-content: space-between;
}

.header__navbar-list {
	display: flex;
	align-items: center;
	list-style: none;
	padding-left: 0;
	margin-top: 20px;
}

.header__navbar-items--link,
.header__navbar-items {
	font-size: 2.1rem;
	color: var(--white-color);
	text-decoration: none;
}

.header__navbar-items {
	margin: 0 10px;
	position: relative;
	align-items: center;
}

.header__navbar-items--bold {
	font-weight: 600;
}

.header__navbar-items--separate::after {
	content: "";
	display: block;
	width: 2px;
	height: 20px;
	background-color: rgba(0, 0, 0, 0.1);
	position: absolute;
	top: 0;
	right: -12px;
}

.header__navbar-icon--link {
	display: inline-flex;
	align-items: center;
	text-decoration: none;
}

.header__navbar-icon {
	color: var(--white-color);
	margin: 0 3px;
	font-size: 2.2rem;
}

.header__navbar-items--link:hover,
.header__navbar-icon--link :hover {
	color: rgba(255, 255, 255, 0.8);
	cursor: pointer;
}

/* Header QR  */

.header__qr {
	position: absolute;
	top: 200%;
	left: -30px;
	right: -30px;
	background-color: var(--white-color);
	border-radius: 5px;
	transform: scale(0);
	cursor: default;
	transition: all 0.25s linear;
	transform-origin: center top;
}

.header__navbar-items--has-qr:hover .header__qr {
	transform: scale(1);
}

.header__qr-img {
	width: 100%;
	padding: 10px 10px 0 10px;
}

.header__qr-app {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	justify-content: space-between;
}

.header__qr-link {
	margin-bottom: 5px;
}

.header__qr-link--dowload {
	width: 80px;
}

.header__qr::before {
	content: "";
	display: block;
	width: 100%;
	height: 30px;
	position: absolute;
	top: -8%;
}

/* Header notification */

.header__notify {
	position: absolute;
	top: 200%;
	right: 0;
	background-color: var(--white-color);
	width: 400px;
	border-radius: 5px;
	border: 2px solid rgba(0, 0, 0, 0.1);
	transform-origin: 350px top;
	transition: all 0.25s linear;
	transform: scale(0);
	opacity: 0;
	z-index: 1;
}

.header__navbar-items--has-notify:hover .header__notify {
	transform: scale(1);
	opacity: 1;
}

.header__notify::before {
	content: "";
	border-style: solid;
	border-width: 20px 30px;
	border-color: transparent transparent var(--white-color) transparent;
	position: absolute;
	top: -35px;
	right: 15px;
}

.header__notify::after {
	content: "";
	height: 40px;
	width: 150px;
	background-color: transparent;
	position: absolute;
	right: -15px;
	top: -30px;
}

.header__notify-header {
	height: 40px;
	color: rgba(0, 0, 0, 0.5);
	margin: 0 0 0 20px;
	font-size: 2rem;
	line-height: 4rem;
	font-weight: 600;
}

.header__notify-list {
	list-style: none;
	padding: 0;
}

.header__notify-items {
	background-color: rgba(0, 239, 251, 0.1);
}

.header__notify-link {
	display: flex;
	text-decoration: none;
	padding: 10px;
	width: 100%;
}

.header__notify-link:hover {
	background-color: rgb(242, 248, 250);
}

.header__notify-img {
	width: 60px;
	object-fit: contain;
	margin-right: 10px;
}

.header__notify-name {
	display: block;
	font-size: 2.2rem;
	color: var(--black-color);
	margin-bottom: 5px;
	line-height: 1.1;
}

.header__notify-describe {
	display: block;
	font-size: 1.6rem;
	color: rgba(0, 0, 0, 0.9);
}

.header__notify-items--viewed {
	background-color: var(--white-color);
}

.header__notify-footer {
	width: 100%;
	display: flex;
}

.header__notify-footer--btn:hover {
	position: relative;
	font-size: 2.1rem;
}

.header__notify-footer--btn {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.5);
	font-weight: 600;
	font-size: 2rem;
	padding: 13px 10px;
	flex: 1;
	text-align: center;
	transition: font-size 0.1s linear;
}

.modal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
}

.modal__layout {
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(
		0,
		rgba(96, 202, 221, 0.4),
		rgba(38, 133, 155, 0.4)
	);
}

.modal__body {
	margin: auto;
	background-color: var(--white-color);
	z-index: 1;
	display: flex;
	align-items: center;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.modal__img {
	border-radius: 20px;
	padding-right: 30px;
	height: 60rem;
}

.modal__img-modify {
	height: inherit;
	border-radius: 10px;
}

.modal__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 45rem;
}

.modal__logo {
	display: flex;
	align-items: center;
	margin-left: -12px;
	text-decoration: none;
}

.modal__logo-img {
	width: 6rem;
}

.modal__logo-text {
	font-size: 2.5rem;
}

.modal__content-heading {
	margin: 10px 0 20px 0;
	font-family: var(--monsterrat);
	font-size: 35px;
	color: #484852;
}

.modal__info {
	width: 100%;
	margin: 20px 0;
	display: flex;
	flex-direction: column;
}

.modal__info-items {
	display: flex;
	flex-direction: column;
}

.modal__info-items + .modal__info-items {
	margin-top: 25px;
}

.modal__info-content {
	font-family: var(--monsterrat);
	font-size: 15px;
	margin-bottom: 8px;
}

.modal__info-box {
	font-family: var(--monsterrat);
	font-size: 17px;
	border-radius: 10px;
	background-color: #e8ffff;
	padding: 15px;
	padding-left: 25px;
	border: none;
	caret-color: rgb(29, 162, 213);
}

.modal__info-forgot {
	font-size: 15px;
	font-family: var(--monsterrat);
	color: #144193;
	align-self: flex-end;
	margin-top: 12px;
	text-decoration: none;
}

.modal__info-button {
	background-image: linear-gradient(0, rgb(0, 239, 251), #4cabf9);
	padding: 18px 0;
	text-align: center;
	border-radius: 30px;
	margin-top: 40px;
	text-decoration: none;
}

.modal__info-button--text {
	display: block;
	font-size: 20px;
	font-family: var(--monsterrat);
	color: var(--white-color);
}

.modal__or {
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal__or-line {
	height: 1px;
	background-color: #11b7ff;
	width: 120px;
}

.modal__or-text {
	font-size: 15px;
	font-family: var(--monsterrat);
	color: rgb(16 173 181 / 70%);
	margin: 10px;
}

.modal__socials {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.modal__socials-link {
	display: flex;
	background-color: #e8ffff;
	min-height: 50px;
	min-width: 150px;
	border-radius: 30px;
	margin: 15px 0;
}

.modal__socials-img {
	height: 25px;
	margin: auto;
}

.modal__exchange {
	align-self: center;
	font-size: 15px;
	font-family: var(--monsterrat);
	color: rgba(0, 0, 0, 0.4);
}

.modal__exchange-btn {
	background-color: transparent;
	border: none;
	color: rgb(7, 73, 250, 65%);
	cursor: pointer;
}

.header__logo {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position:absolute;
	left:50%;
	transform: translateX(-50%);
	top: 70%;
	--size-box: 120px;
	height: var(--size-box);
	width: var(--size-box);
	border-radius: 100rem;
	border: 10px solid white;
	background-image: linear-gradient(0,var(--white-color),rgb(0, 239, 251));
	z-index: 0;
}

.header__logo-img {
	display: flex;
	position: absolute;
	height:70px;
	top:0;

}

.header__logo-img--inside {
	object-fit: contain;

}

.header__logo-text {
font-size: 2rem;
margin-top: 40px;
}

.header-with-search {
	flex:1;
	display:flex;
	align-items:center;
	justify-content: space-between;
}

.header__search-part {
	flex-basis: 43%;
	height:40px;
	display:flex;
	
}

.header__search-box	{
	display:inline-flex;
	flex:1;
	background-color:#dafdff;
	border-radius: 2rem;
	position: relative;
}

.header__search-cart {
	display: inline-flex;
	margin:0 50px;
}

.header__search-cart--icon {
	height: inherit;
	width: auto;	
}

.header__search-icon {
	background-color: transparent;
	border: none;
	padding: 0 15px;
}

.header__search-icon--find,
.header__search-icon--delete{
	font-size: 15px;
	color: #48c6db;
	transition: color 0.2s linear;
}

.header__search-icon--find {
	position: relative;
	left:6px;
	top:2px;
}

.header__search-icon--find:hover {
	cursor: pointer;
	color: #79cddb;
}

.header__search-icon--delete {
	color: rgba(0, 0, 0, 0.2);
}

.header__search-icon--delete:hover {
	color:rgba(0, 0, 0, 0.3);
	cursor: pointer;
}


.header__search-bar{
	flex:1;
	border: none;
	background-color: transparent;
	outline-width: 0;
	font-size: 18px;
	caret-color: rgb(29, 162, 213);
	font-weight: 600	;
	color: rgba(0,0,0,0.6);
	padding-right:35px;
	line-height: 0;
}

.header__search-bar::placeholder {
	color: rgba(0,0,0,0.6);
}

.header__history {
	position: absolute;
	top: 120%;
	background-color: var(--white-color);
	left:0;
	right: 0;
	border-radius: 1rem;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	display:none;

	}

.header__history-header {
	display:block;
	color: rgba(0, 0, 0, 0.5);
	margin: 15px 0 15px 20px;
	font-size: 1.8rem;
	font-weight: 600;
}

.header__history-body {
	list-style: none;
	padding-left: 0;
}

.header__history-items {
}

.header__history-link {
	display:flex;
	padding: 10px 10px;
	text-decoration: none;
	color:rgba(0, 0, 0, 0.8);
	transition: background-color 0.1s linear;

}

.header__history-icon {
	font-size: 1.8rem;
	margin: 0 7px;

}

.header__history-icon--img {
position: relative;
	top:50%;
	transform: translateY(-50%);
}

.header__history-items--content {
	font-size: 1.8rem;
	line-height: 1.15;
}

.header__history-link:hover {
	background-color: rgba(0, 204, 255,0.08);
}

.header__search-bar:focus  ~ .header__history {
	display:block;

}

